<h1>Create a new Portfolio Item</h1>

<%= form_for @portfolio_item do |f| %>

<div class="">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="">
  <%= f.label :subtitle %>
  <%= f.text_field :subtitle %>
</div>

<div class="">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="">
  <%#= f.label :thumb_image %>
  <%#= f.text_field :thumb_image %>
</div>

<div class="">
  <%= f.submit %>
</div>
<% end  %>
