<%= image_tag @portfolio_item.main_image unless @portfolio_item.thumb_image.nil? %>

  <h1><%= @portfolio_item.title %></h1>
  <em><%= @portfolio_item.subtitle %></em>
  <p><%= @portfolio_item.body %></p>

  <h2>Technologies Used</h2>
  <% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>
  <% end %>

  <%= link_to "Edit Portfolio", edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin)%>
  <%= link_to "Portfolios Page", portfolios_path if logged_in?(:site_admin)%>
