<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>I am a backend engineering student at the Turing School of
      Software &amp; Design. Check out my github account and social media sites</p>
  </div>

    <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
      <h4>Topics</h4>
      <% @side_bar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
      <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Find me on...</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/yoasyo25">
        <%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/yohananassefa">
        <%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.facebook.com/yoasyo">
        <%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/YohananAssefa">
        <%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>
